*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-black);
  background-color: var(--color-bg);
}

main {
  flex-grow: 1;
}

img {
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: color var(--transition-200);
  outline: none;
}

a:hover {
  color: var(--color-active);
}